
<div class="row mb-3">
    <!-- Search and Sorting Section -->
    <form method="get" class="d-flex justify-content-between">
        <div class="col-md-6">
            <input type="text" class="form-control" name="search" placeholder="Search by username..." value="{{ search_query }}">
        </div>
        <div class="col-md-3">
            <select name="sort" class="form-select">
                <option value="">Sort by</option>
                <option value="fine_date_asc" {% if sort_option == "fine_date_asc" %}selected{% endif %}>Loan Date (Ascending)</option>
                <option value="fine_date_desc" {% if sort_option == "fine_date_desc" %}selected{% endif %}>Loan Date (Descending)</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Search & Sort</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>Unpaid fines</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Loan ID</th>
                    <th>Book</th>
                    <th>User</th>
                    <th>Issued date</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fine in unpaid_fines %}
                <tr>
                    <td>{{ fine.fine_id }}</td>
                    <td>{{ fine.loans.physical_book.book.title }}</td>
                    <td>{{ fine.user.username }}</td>
                    <td>{{ fine.issued_date }}</td>
                    <td>{{ fine.amount }}</td>>
                    <td>
                        <form method="post" action="{% url 'mark_paid' fine.fine_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Mark as Paid</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="mt-4 text-start">
    <a href="/" class="btn btn-secondary">Back</a>
</div>